/* style.css
 * This file provides css styles.
 */
@import 'bootstrap.css';

#nlcBtn{
	width: 100%;
}
 #nluBtn{
 	width: 100%;
 }
.heading{
	text-align: center;
}
.btn-highlighted{
	background: #00bfff;
}
.container{
	padding-top: 20px;
	padding-bottom: 20px;
}
.input{
	text-align: center;
	border: 1px solid black;
}
.output{
	text-align: center;
	border: 1px solid black;
}
#submitTextNLC,#submitNLCFile{
	background: #9855d4;
}
input{
	width: 75%;
}
.btn-primary{
	
}
.inTab{
	border-radius:5px;
	background-color:#8FD8D8;
	border-top:.5px solid black;
}
.outTab{
	border-top:.5px solid black;
	border-radius: 5px;
	background-color:#E6E6FA;
}
td{
	width: 50%;
}
tr{
	margin: 10px;
}
#nlcTable{
	width: 100%;
}
.tableHeading{
	border-bottom: 1px solid black;
}

#submitNLCFile{
	display:inline;
	float: right;
}
#csvFile{
	display:inline;
	float:left;
}
.headingContainer{
	background: #f4f4f4;
}
#inputTextContainer{
	/*display:inline-block;*/
	float:left;
}
#uploadContainer{
	/*display: inline-block;*/
	width:25%;
	float:right;
}
#summaryContainer{
	display: block;
}
#inputTextContainer{
	display:block;
}
.jumbotron{
	padding-bottom:150px;
}

/*
body,html {
	background-color: #3b4b54; width : 100%;
	height: 100%;
	margin: 0 auto;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	color: #ffffff;
}

a {
	text-decoration: none;
	color: #00aed1;
}

a:hover {
	text-decoration: underline;
}

.newappIcon {
	padding-top: 10%;
	display: block;
	margin: 0 auto;
	padding-bottom: 2em;
	max-width:200px;
}

h1 {
	font-weight: bold;
	font-size: 2em;
}

.leftHalf {
	float: left;
	background-color: #26343f;
	width: 45%;
	height: 100%;
}

.rightHalf {
	float: right;
	width: 55%;
	background-color: #313f4a;
	height: 100%;
	overflow:auto;
}

.blue {
	color: #00aed1;
}


table {
	table-layout: fixed;
	width: 800px;
	margin: 0 auto;
	word-wrap: break-word;
	padding-top:10%;
}

th {
	border-bottom: 1px solid #000;
}

th, td {
	text-align: left;
	padding: 2px 20px;
}

.env-var {
	text-align: right;
	border-right: 1px solid #000;
	width: 30%;
}

pre {
	padding: 0;
	margin: 0;
}

*/